*{
  background-color: black;
}
h3{
  color: white;
  text-align: center;
}
.disName{
  color: black;
  position: relative;
  width: 250px;
  height: 15px;
  top: 65px;
  left: 10px;
  background-color: aquamarine;
  font-size: 10px;
}
.calc{
  width: 320px;
  margin: 10px auto;
}
#answer{
  padding: 10px;
  font-size: 35px;
  width: 292px;
  height: 45px;
  background-color: aquamarine;
  text-align: right;
  border: 3px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.button{
  background-color: black;
  height: 78px;
  width: 78px;
  color: white;
  font-size: 30px;
  border: 1px solid white;
  float: left;
  margin: 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.buttonBig{
  width: 158px;
}

.button:hover{
  cursor: pointer;
  scale: 1.05;
  background-color: white;
  color: black;
}
